@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --btn-color: #40513b;
  --background-color: #edf1d6;
  --blue: #0d4c92;
  --red: #ff0032;
  --start: #4d455d;
  --white: #ffffff;
  --green: #54b435;
  --header-color: #00425a;
  --body-color: #1f8a70;
  --footer-color: #bfdb38;
  --black: #393e46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#stop_watch_container {
  background-color: var(--background-color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stop_watch_container .body {
  width: 100%;
  margin: 0 20px;
  max-width: 500px;
  background-color: var(--card-bg);
  color: var(--white);
  border-radius: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#stop_watch_container .body .header {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  background-color: var(--header-color);
  padding: 15px;
  border-radius: 8px 8px 0 0;
  text-transform: uppercase;
}

#stop_watch_container .body .content {
  padding: 15px;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: var(--body-color);
}
#stop_watch_container .body .content .big_text {
  font-size: 80px;
}
#stop_watch_container .body .footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: var(--footer-color);
  border-radius: 0 0 8px 8px;
}

#stop_watch_container .body .footer .btn_group .start {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  padding: 5px 20px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
#stop_watch_container .body .footer .btn_group .pause {
  background-color: var(--red);
  color: var(--white);
  font-weight: 700;
  padding: 5px 20px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
#stop_watch_container .body .footer .btn_group .reset {
  background-color: var(--green);
  color: var(--white);
  font-weight: 700;
  padding: 5px 20px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
#stop_watch_container .body .footer .full_screen_btn_group i {
  font-size: 20px;
  cursor: pointer;
  color: var(--black);
}
